In [1]:
#pip install boto3

In [2]:
import boto3
import pandas

## Fetch CSV file from S3 Bucket

In [4]:

# Specify your AWS access key and secret key
access_key = '<YOUR-AWS-ACCESS-KEY>'
secret_key = '<YOUR-AWS-SECRET-KEY>'

# Initialize the S3 resource with the access key and secret key
s3_resource = boto3.resource('s3', aws_access_key_id=access_key, aws_secret_access_key=secret_key)

# Specify the S3 bucket name and the CSV file object key
bucket_name = 'mlops-tut-anna'
object_key = 'coordinates_data.csv'

try:
    # Retrieve the S3 object
    s3_object = s3_resource.Object(bucket_name, object_key)
    
    # Read the CSV data directly into a pandas DataFrame
    df = pd.read_csv(s3_object.get()['Body'])
    
    # Now you can work with the DataFrame 'df'
    #print(df.head())  # Display the first few rows of the CSV data
except Exception as e:
    print(f"An error occurred: {str(e)}")

In [5]:
df

   Unnamed: 0    est_lat  est_long       name symbol
0           0  48.782819  2.165326  est_class   star
1           1  48.782804  2.165765  est_class   star
2           2  48.782832  2.165388  est_class   star
3           3  48.782817  2.165817  est_class   star
4           4  48.782852  2.165444  est_class   star
5           5  48.782841  2.165861  est_class   star

## Upload a CSV to S3 Bucket

In [6]:



# Specify the S3 bucket name and the target object key (S3 path)

object_key = 'sample/data.csv'

# Specify the local path of the CSV file to upload
local_file_path = r'D:\data\flights.csv'

try:
    # Upload the CSV file to the S3 bucket
    s3_resource.Bucket(bucket_name).upload_file(local_file_path, object_key)
    print(f"CSV file uploaded to S3: s3://{bucket_name}/{object_key}")
except Exception as e:
    print(f"An error occurred: {str(e)}")

CSV file uploaded to S3: s3://mlops-tut-anna/sample/data.csv